body{
    background-color: #313131;
    color: #fafafa;
    text-align: center;
}
video{
    display: none;
}

.title{
    margin-top: 10%;
    margin-bottom: 10%;
}
.status-icon-offline{
    background-color: #c00f0f;
}
.status-icon-online{
    background-color: #00ce00;
}
.status-txt{
    display: inline-block;
}
.chat-user{
    height: 50%;
    border: solid 2px white;
    border-radius: 4px;
}
.local-user{
    border-color: #c00f0f;
}
.active-user{
    border-color: #00ce00;
}
.mute-user{
    border-color: #fafafa;
}
.user-icon{
    width: 50%;
    height: 50%;
    border: solid 4px white;
    border-radius: 50%;
}
.control-btn{
    margin: 4px;
}
.chatmessage{
    border-bottom: solid 2px #fafaff;
}
.chatmessageusericon{
    width: 24px;
    border-radius: 12px;
}
.chatmessageuser{
    font-size: 8px;
    margin: 0px;
}
.chatmessagetime{
    color: gray;
    font-size: 6px;
}
.ratingicons{
    margin-right: 16px;
    margin-left: 16px;
}

#status-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    animation: blink 2s infinite;
}
#chat{
    display: none;
}
#myscreen{
    display: block;
    width: 100%;
    height: 240px;
    background-color:#bbbbbb;
}
#fullscreen-icon > .material-icons{
    font-size: 32px;
    color: white;
}
#fullscreen-icon > .material-icons:hover{
    font-size: 36px;
}
#chatmessages{
    height: 290px;
    max-height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}