body {
	margin: 0;
}
#message {
	width: 200px;
	min-height: 360px;
	margin: 10px;
	border: medium solid #1976d2;
}
#streams {
	position: absolute;
	top: 10px;
	margin-left: 200px;
}
#audio-mute{
	margin-left: 30px;
	width: 64px;
	height: 24px;
}
.time{
	font-size: 12px;
}