html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  color: #fff;
  background-color: #333333;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.user-items {
  scrollbar-width: none;
}
.user-items::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
